site_name: ME/CFS Biostatistics Home
site_url: https://sitename.example
theme:
  name: material
  features:
    - navigation.indexes


plugins:
- search
- bibtex:
    bib_file: "docs/refs.bib"
- mkdocstrings:
   handlers:
      python:
        inventories:
          - https://docs.python.org/3/objects.inv
        options:
          paths: [.]
          docstring_section_style: list # or "table"
          docstring_style: "numpy"
          filters: [ "!^_" ]
          heading_level: 1
          merge_init_into_class: true
          parameter_headings: true
          separate_signature: true
          show_root_heading: true
          show_signature_annotations: true
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          show_if_no_docstring: true
          summary: true
- api-autonav:
    modules: ['mecfs_bio']
    exclude: ['mecfs_bio.util']

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences