site_name: ME/CFS Biostatistics Home
repo_url: https://github.com/trafalmadorian97/mecfs_bioinformatics
theme:
  name: material
  features:
    - navigation.indexes
    - content.footnote.tooltips
plugins:
- search
- glightbox
- bibtex:
    bib_file: "docs/refs.bib"
- mkdocstrings:
   handlers:
      python:
        inventories:
          - https://docs.python.org/3/objects.inv
        options:
          paths: [.]
          docstring_section_style: list # or "table"
          docstring_style: "numpy"
          filters: [ "!^_" ]
          heading_level: 1
          merge_init_into_class: true
          parameter_headings: true
          separate_signature: true
          show_root_heading: true
          show_signature_annotations: true
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          show_if_no_docstring: true
          summary: true
- api-autonav:
    modules: ['mecfs_bio']
    exclude: ['mecfs_bio.util']

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort-scinum.js
  - javascripts/tablesort-init.js

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences