# make sure links are still valid.  Avoid link rot.
name: check_links
on:
  schedule:
    - cron: "15 16 * * *"   #Run at 4:16 pm daily
  workflow_dispatch: {}

jobs:
  lead_variants:
    timeout-minutes: 600
    name: Check links
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.2
        name: Setup Pixi Environment
        with:
          pixi-version: v0.55.0
          cache: true
      - name: Check links
        run: pixi r invoke check-all-links

