name: on_pr

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  run-linters:
    timeout-minutes: 5
    name: Run PR Checks
    runs-on: ubuntu-latest

#    paths-ignore:
#      - 'docs/**' # Ignores changes within the 'docs' directory
#      - '**/*.md'  # Ignores changes to any markdown files


    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: changes
        name: Check whether non-markdown files changed
        with:
          predicate-quantifier: 'every'
          filters: |
            nonmark:
              - '**/*'
              - '!**/*.md'         # treat any non-MD change as "code"
      - name: Docs-only fast path
        if: steps.changes.outputs.nonmark != 'true'
        run: |
          echo "Docs-only change; skipping tests/linters."
      - uses: prefix-dev/setup-pixi@v0.9.2
        name: Setup Pixi Environment
        if: steps.changes.outputs.nonmark == 'true'
        with:
          pixi-version: v0.55.0
          cache: true
      - name: Install TwoSampleMR
        if: steps.changes.outputs.nonmark == 'true'
        run: pixi r install-mr
      - name: Check that we can build docs
        if: steps.changes.outputs.nonmark == 'true'
        run: pixi r mkdocs build --strict
      - name: Check formatting with ruff
        if: steps.changes.outputs.nonmark == 'true'
        run: pixi r invoke formatcheck
      - name: Lint using ruff
        if: steps.changes.outputs.nonmark == 'true'
        run: pixi r  invoke lintcheck
      - name: Check spelling using typos
        if: steps.changes.outputs.nonmark == 'true'
        run: pixi r invoke spellcheck-docs
      - name: Check types with mypy
        if: steps.changes.outputs.nonmark == 'true'
        run: pixi r  invoke typecheck
      - name: Run tests
        if: steps.changes.outputs.nonmark == 'true'
        run: pixi r  invoke test # run unit and integration tests
