name: system_test_decodeme
on:
  schedule:
    - cron: "0 4 * * 1"   #Run Monday at 4 UTC
  workflow_dispatch: {}

jobs:
  lead_variants:
    timeout-minutes: 600
    name: Compute Lead Variants
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.2
        name: Setup Pixi Environment
        with:
          pixi-version: v0.55.0
          cache: true
      - name: Run lead variants integration test
        run: pixi r python -m pytest -s test_mecfs_bio/system/test_decode_me_initial_analysis.py # run lead variants integration test

